{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false
    },
    "target": "es2018",
    "transform": {
      "decoratorMetadata": true
    }
  }
}
