.list {
  margin-top: 16px;
}

.item {
  &:global(.brk-list-item) {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 40px;
    padding: 10px 0;
  }
}
