.list {
  margin-top: 16px;
}

.notFound {
  color: #bfbcc6;
  font-size: 14px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.item {
  &:global(.brk-list-item) {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    &:hover,
    &:active {
      background-color: rgb(0 0 0 / 0.05);
    }
  }
}
