.list {
  margin-top: 16px;
}

.item {
  &:global(.brk-list-item) {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    &:hover,
    &:active {
      background-color: rgb(0 0 0 / 0.05);
    }
  }
}
