@import '../style/mixin.less';

.brickdoc-formula-function {
  .code-fragment-block();

  // background: #efcde1;
  color: #FB8C00;

  .brickdoc-formula-function-content {
    outline: none;
    font-weight: normal;
  }
}
