* @stackia

/apps/landing-page/ @melchior-voidwolf @Darmody
/apps/server-api/ @aligo @Darmody @clszzyh
/apps/client-web/ @melchior-voidwolf @Darmody
/packages/brickdoc-design-system/ @melchior-voidwolf @wizcas
/packages/brickdoc-editor/ @Darmody @clszzyh
/packages/brickdoc-formula/ @clszzyh @aligo
/packages/brickdoc-uploader/ @Darmody @aligo
/packages/brickdoc-schema/ @aligo @clszzyh
/tools/e2e-testing/ @jizhekai @june2525
