Dockerfile
.git

# development
/.idea
/.vs
*.sublime-project
*.sublime-workspace
/.settings
*.ruby-gemset
*.rvmrc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
.turbo
node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.bundle/*

# Ignore all logfiles and tempfiles.
apps/server-monolith/tmp/*
!apps/server-monolith/tmp/pids
!apps/server-monolith/tmp/.gitkeep

# Ignore pidfiles, but keep the directory.
apps/server-monolith/tmp/pids/*
!apps/server-monolith/tmp/pids/.gitkeep

# Ignore uploaded files in development.
apps/server-monolith/storage/*
!apps/server-monolith/storage/.gitkeep

.eslintcache
.byebug_history
apps/server-monolith/public/esm-bundle/
apps/server-monolith/public/packs-test/

.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.yarn-integrity
tsconfig.tsbuildinfo

# misc
.DS_Store
.AppleDouble
.LSOverride
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db
._*

# testing
.coverage-cache/
.nyc_output/
junit-reports/
coverage/

# build
dist/
storybook-static/
*.gem
apps/server-monolith/vendor
target/

# Vite Ruby
/apps/server-monolith/public/vite
/apps/server-monolith/public/vite-dev
/apps/server-monolith/public/vite-test
*.local

# Pdftron
/apps/server-monolith/public/pdftron
/apps/server-monolith/public/pdfjs
