.git/
dist/
node_modules/
coverage/
storybook-static/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.nyc_output/
**/.bundle/config
/.github/
/.husky/
/templates/
/log/
/tmp/*
!/tmp/.keep
/apps/server-monolith/public/esm-bundle/
/apps/server-monolith/public/packs-test/
/apps/server-monolith/public/system/
/apps/server-monolith/public/storage/
/apps/server-monolith/storage/
/apps/server-monolith/public/uploads/
/apps/server-monolith/spec/
/junit-reports/
/gems/*/spec/
/plugins/*/spec/
Dockerfile
.env.*
.rspec
.gitignore
.czrc
.*.yml
!.yarnrc.yml
.DS_Store
.gitattributes
.gitignore
.eslint*
.prettier*
