# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# development
/.idea
/.vs
*.sublime-project
*.sublime-workspace
/.settings
/.ruby-gemset
/.rvmrc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
/.bundle/*

# Ignore all logfiles and tempfiles.
/log
/.log
!/log/.keep
/tmp/*
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

.eslintcache
.byebug_history
public/esm-bundle/
public/packs-test/


.env.local
.env.development.local
.env.test.local
.env.production.local
apps/server-api/.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.yarn-integrity
tsconfig.tsbuildinfo

# misc
.DS_Store
.AppleDouble
.LSOverride
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db
._*

# testing
.coverage-cache
.nyc_output
junit-reports/
coverage/

# build
dist/
storybook-static/

vendor

# Vite Ruby
/public/vite
/public/vite-dev
/public/vite-test
node_modules
*.local
.DS_Store

# Pdftron
/public/pdftron
/public/pdfjs
