# Add files here to ignore them from prettier formatting

dist/
coverage/
tmp/
log/
node_modules/
/apps/server-monolith/public/
.yarn/
CHANGELOG.*
*.env
/tools/helm-charts/**/*.yaml
.next/
*.tsbuildinfo
.eslintcache
.nyc_output/
.coverage-cache/
dist/
storybook-static/
target/
