# Add files here to ignore them from prettier formatting

dist/
coverage/
junit-reports/
tmp/
log/
node_modules/
/public/esm-bundle/

CHANGELOG.*
*.env
templates/helm-charts/**/*.yaml
packages/brickdoc-design-system/components/style/color/*.less