<%= render partial: 'layouts/browser_checker' %>
<div role="application" id="app-entrypoint" data-server-side-render="false"
style="width:100%;min-height:100vh;" data-app-mount="mashcard-pwa"></div>
<%= vite_plugin_bundle_tags %>
