/* stylelint-disable no-descending-specificity */
@import '@brickdoc/design-system/components/style/themes';
.acrylicBg {
  background: url('~/docs/common/assets/acrylic.svg') no-repeat fixed center center;
  background-size: cover, cover;
  background-clip: border-box;
  height: 100vh;
  overflow: hidden;
}
.pluginBar {
  width: 48px;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sider {
  height: 100vh;
}

.siderFooter {
  margin-top: auto;
  bottom: 1rem;
  left: 0;
  padding: 0 0.5rem;
  position: absolute;
  width: 100%;
}

.scrollArea {
  max-height: 60%;
  overflow: scroll;
}

.sider :global(.brk-layout-sider-children > .brk-btn-text),
.scrollArea > :global(.brk-btn-text),
.siderFooter :global(.brk-btn-text) {
  border: 0;
  padding: 0.375rem 1rem;
  height: auto;
  width: 100%;
  text-align: left;
  color: @text-color-secondary;
}
