@import '@brickdoc/design-system/components/style/themes/index';
.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: flex-end;
  justify-content: space-between;
  height: @layout-header-height;

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    .menuItem {
      padding: 8px;
      // TODO: Undefined variable
      color: rgb(132 126 142 / 1);
      font-size: 14px;
      //line-height: 16px;
      height: auto;
      border-radius: 4px;
      svg {
        // stroke: rgba(132, 126, 142, 1);
      }
      &:hover {
        // TODO: Undefined variable
        background: rgb(0 0 0 / 5%);
      }
    }
  }

  .loading {
    // TODO: Undefined variable
    color: rgb(191 188 198 / 1);
    font-size: 12px;
    margin-right: 2.4rem;

    .loadingIcon {
      width: 10.67px;
      height: 10.67px;
      animation: spin infinite linear 800ms;
      margin-right: 6.67px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
