@import '@brickdoc/design-system/src/legacy-components/style/themes';

.path {
  color: @text-color-secondary;
  font-size: @font-size-xs;
  height: 20px;
  line-height: 20px;

  a {
    color: @text-color-secondary;
    &:hover {
      color: @text-color-secondary;
      text-decoration: none;
    }
  }
  .splicing {
    color: @text-color-disable;
  }
}

.emoji{
  margin-right: 1em;
}
