---
http_interactions:
  - request:
      method: get
      uri: https://iframe.ly/api/iframely?api_key=343dce40eb6be7b7ccf9cb&url=https://www.google.com
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"ff2ee39dadaf7546d1ffe8dd31b481ef"
      body:
        encoding: UTF-8
        string: |-
          {
              "url": "https://www.google.com",
              "meta": {
                  "description": "Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.",
                  "title": "Google",
                  "site": "Google",
                  "canonical": "https://www.google.com"
              },
              "links": {
                  "icon": [
                      {
                          "href": "https://www.google.com/favicon.ico",
                          "type": "image/icon",
                          "rel": [
                              "icon",
                              "ssl"
                          ]
                      }
                  ]
              },
              "rel": []
          }
    recorded_at: Thu, 13 Jan 2022 03:54:07 GMT
recorded_with: VCR 6.0.0
