---
http_interactions:
- request:
    method: get
    uri: https://iframe.ly/api/iframely?api_key=343dce40eb6be7b7ccf9cb&url=https://github.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"29d1ed89bf2e6180bda6cccb9922aa67"
    body:
      encoding: UTF-8
      string: |-
        {
            "url": "https://github.com",
            "meta": {
                "description": "GitHub is where over 73 million developers shape the future of software, together. Contribute to the open source community, manage your Git repositories, review code like a pro, track bugs and feat...",
                "title": "GitHub: Where the world builds software",
                "theme-color": "#1e2327",
                "canonical": "https://github.com/",
                "site": "GitHub"
            },
            "links": {
                "thumbnail": [
                    {
                        "href": "https://github.githubassets.com/images/modules/site/social-cards/github-social.png",
                        "type": "image/png",
                        "rel": [
                            "twitter",
                            "thumbnail",
                            "ssl",
                            "og"
                        ],
                        "media": {
                            "width": 1200,
                            "height": 630
                        },
                    }
                ],
                "icon": [
                    {
                        "href": "https://github.com/fluidicon.png",
                        "rel": [
                            "fluid-icon",
                            "icon",
                            "ssl"
                        ],
                        "type": "image/png"
                    },
                    {
                        "href": "https://github.githubassets.com/pinned-octocat.svg",
                        "rel": [
                           [...]
