.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  overflow-y: auto;
  flex: 1;

  .pageWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5.5rem 5rem;
    flex: 1;
  }
}
