@import '@brickdoc/design-system/components/style/themes/index';
.row {
  height: 70vh;
}

.container {
  display: flex;
  flex-direction: row;

  --brk-editor-max-width: 100%;

  width: 100%;

  @width: 220px;
  .contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - @width);
  }

  .side {
    border-left: 1px solid #f6f6f6;
    width: @width;
    flex-shrink: 0;

    .actionPanel {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 16px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 22px;
        right: 22px;
        height: 1px;
        background: #f6f6f6;
      }

      button + button {
        margin-top: 8px;
      }

      .button {
        width: 100%;
      }
    }
  }
}

.listItem {
  &:global(.brk-list-item) {
    padding: 0;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 46px;
  padding: 6px 16px;

  .title {
    font-size: @font-size-sm;
    line-height: 20px;
    font-weight: 500;
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .desc {
    font-size: 12px;
    line-height: 16px;
    color: @deep-purple-3;
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.page {
  min-height: unset;
  height: 70vh;
  overflow: auto;
  scrollbar-width: none;
  width: 100%;
}

.page::-webkit-scrollbar {
  display: none;
}

.snapshot {
  min-height: unset;
  height: 60vh;
  overflow: auto;
  scrollbar-width: none;
}

.snapshot::-webkit-scrollbar {
  display: none;
}

.topBar {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  color: @text-color-secondary;
  font-size: @font-size-sm;
  line-height: @line-height-md;
  p {
    margin: 0;
    font-weight: 500;
  }
}

.image {
  display: block;
  margin: auto;
  height: 270px;
}

.text {
  display: block;
  margin: auto;
  text-align: center;
  color: #bfbcc6;
  line-height: @font-size-base * 2;
  font-size: @font-size-base * 1.25;
  font-weight: 500;
}
