.bold {
  font-weight: bold;
}

.center {
  margin: auto;
}

.invite_placeholder {
  color: #bfbcc6;
  text-align: center;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;

  text-overflow: ellipsis;
  overflow: hidden;
  width: 17em;
  white-space: nowrap;
}
.invite_button {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  background-color: #2c5bff;

  overflow: hidden;
  width: 4em;
}

.padding_top {
  padding-top: 20px;
}

.copy_link_placeholder {
  color: #bfbcc6;
  text-align: center;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;

  text-overflow: ellipsis;
  overflow: hidden;
  width: 17em;
  white-space: nowrap;
}

.copy_button {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  color: #292333;
  text-align: center;
  overflow: hidden;
  width: 4em;
}

.text_button {
  padding: 0;
}

.invite_list {
  padding: 0;
  width: 100%;
}
