// Grey
@white: #fff;
@black: #000;
@grey-1: #fcfcfa;
@grey-2: #f0f0f0;
@grey-3: #e0e0e0;
@grey-4: #d3d3d3;
@grey-5: #cacaca;
@grey-6: #8e8e8e;
@grey-7: #757575;
@grey-8: #616161;
@grey-9: #1c1c1e;

@cyan-base: #39b3e8;
@cyan-1: #f8fbff;
@cyan-2: #ddf2fb;
@cyan-3: #c0e7f8;
@cyan-4: #85d1f1;
@cyan-5: #50bceb;
@cyan-6: @cyan-base;
@cyan-7: #34a2d1;
@cyan-8: #2c89b0;
@cyan-9: #2c89b0;

@red-base: #d43730;
@red-1: #fdf6f5;
@red-2: #f8dbda;
@red-3: #f2bdba;
@red-4: #e5807b;
@red-5: #d94d46;
@red-6: @red-base;
@red-7: #be332c;
@red-8: #a12b25;
@red-9: #77201b;

@scarlet-base: #f75f48;
@scarlet-1: #fef7f6;
@scarlet-2: #fee5e1;
@scarlet-3: #fdcec7;
@scarlet-4: #eb9487;
@scarlet-5: #e26855;
@scarlet-6: @scarlet-base;
@scarlet-7: #c84d3a;
@scarlet-8: #bc4837;
@scarlet-9: #8b3528;

@orange-base: #fb8c00;
@orange-1: #fffaf5;
@orange-2: #feecd6;
@orange-3: #fddbb1;
@orange-4: #fcb865;
@orange-5: #fb971e;
@orange-6: #fb8c00;
@orange-7: #e17c00;
@orange-8: #be6800;
@orange-9: #8c4d00;

@yellow-base: #ffd84e;
@yellow-1: #fffdf8;
@yellow-2: #fff9e3;
@yellow-3: #fff4ca;
@yellow-4: #ffe895;
@yellow-5: #ffdd64;
@yellow-6: #ffd84e;
@yellow-7: #e6c347;
@yellow-8: #c2a53c;
@yellow-9: #8f792c;

@green-base: #2cad94;
@green-1: #f4fcfa;
@green-2: #d5f2ec;
@green-3: #b3e7dc;
@green-4: #71cebb;
@green-5: #3eb79f;
@green-6: #2cad94;
@green-7: #279c85;
@green-8: #218470;
@green-9: #186153;

@blue-base: #2c5bff;
@blue-1: #f7f8ff;
@blue-2: #dde4ff;
@blue-3: #c0cdff;
@blue-4: #809cff;
@blue-5: #456dff;
@blue-6: #2c5bff;
@blue-7: #2750e6;
@blue-8: #2144c2;
@blue-9: #18328f;

@purple-base: #5e35b1;
@purple-1: #f7f5fc;
@purple-2: #e0d7f2;
@purple-3: #c7b7e7;
@purple-4: #9578d0;
@purple-5: #6d47b9;
@purple-6: #5e35b1;
@purple-7: #54309e;
@purple-8: #472886;
@purple-9: #351e63;

@deep-purple-base: #3a3642;
@deep-purple-1: #f6f6f7;
@deep-purple-2: #dcdae1;
@deep-purple-3: #bfbcc6;
@deep-purple-4: #847e8e;
@deep-purple-5: #504b59;
@deep-purple-6: #3a3642;
@deep-purple-7: #35313c;
@deep-purple-8: #2c2932;
@deep-purple-9: #292323;

@pink-base: #ad1457;
@pink-1: #fcf3f7;
@pink-2: #efcde1;
@pink-3: #e2a4c8;
@pink-4: #c55998;
@pink-5: #b72967;
@pink-6: #ad1457;
@pink-7: #9c134e;
@pink-8: #841042;
@pink-9: #610c31;

@preset-colors: cyan, red, scarlet, orange, yellow, green, blue, purple, deep-purple, pink;
