<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr><td> <%= link_to local_assigns[:name], local_assigns[:link], target: :blank %> </td></tr> </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>