@import '@brickdoc/design-system/components/style/themes';

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu {
  display: flex;
  justify-content: space-between;
  a {
    color: @text-color;
  }
  .addBtn {
    opacity: 0;
    padding: 4px;
    height: auto;
    font-size: inherit;
    border: none;
    line-height: 1;
    &:hover {
      background-color: transparent;
    }
  }
  .moreBtn {
    margin-left: auto;
    margin-right: 0;
    opacity: 0;
    height: auto;
    font-size: inherit;
    border: none;
    line-height: 1;
    &:hover {
      background-color: transparent;
    }
  }
  &:hover {
    .moreBtn {
      opacity: 1;
    }
    .addBtn {
      opacity: 1;
    }
  }
}
