@import '@brickdoc/design-system/components/style/themes';

.title {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: @font-size-sm;
  line-height: @line-height-sm * 2;
  align-items: center;
  flex-grow: 1;
}
.menu {
  display: flex;
  justify-content: space-between;
  a {
    color: #292333;
    font-weight: 500;
    // color: @text-color;
    // flex-grow: 1;
  }
  .addBtn {
    opacity: 0%;
    padding: 4px;
    height: auto;
    font-size: inherit;
    border: none;
    line-height: 1;
    &:hover {
      background-color: transparent;
    }
  }
  .moreBtn {
    margin-right: 0;
    opacity: 0%;
    height: auto;
    font-size: inherit;
    border: none;
    line-height: 1;
    &:hover {
      background-color: transparent;
    }
  }
  &:hover {
    .moreBtn {
      opacity: 100%;
    }
    .addBtn {
      opacity: 100%;
    }
  }
}
