.table-block-date-cell {
  --padding: 8px;

  width: 100%;
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;
  font-size: 14px;
  word-break: break-all;
  max-width: calc(100% - 2 * var(--padding));

  & .table-date-cell-picker {
    z-index: 2;
  }
}
