.table-block-text-cell {
  --padding: 8px;

  width: 100%;
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;
  font-size: 14px;
  word-break: break-all;
  max-width: calc(100% - 2 * var(--padding));
}

textarea.table-block-text-input {
  --padding: 8px;
  --border-color: 239, 239, 239;
  --box-shadow-color: 62, 62, 62;

  max-width: calc(100% - 2 * var(--padding));
  font-size: 14px;
  min-height: 100%;
  border: 1px solid rgba(var(--border-color));
  border-top: none;
  border-bottom: none;
  box-shadow: 0 10px 15px rgb(var(--box-shadow-color) 0.1), 0 0 6px rgb(var(--box-shadow-color) 0.05);
  border-radius: 4px;
  padding: var(--padding);
  z-index: 2;

  &:focus {
    box-shadow: 0 10px 15px rgb(var(--box-shadow-color) 0.1), 0 0 6px rgb(var(--box-shadow-color) 0.05);
    border-color: rgba(var(--border-color));
  }

  &:hover {
    box-shadow: 0 10px 15px rgb(var(--box-shadow-color) 0.1), 0 0 6px rgb(var(--box-shadow-color) 0.05);
    border-color: rgba(var(--border-color));
  }
}
