---
http_interactions:
  - request:
      method: get
      uri: https://iframe.ly/api/iframely?api_key=343dce40eb6be7b7ccf9cb&url=https://avatars.githubusercontent.com/u/41993484?s=120%26v=4
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Etag:
          - W/"dcb0b735c1e2002008a4c2939270edb3"
      body:
        encoding: UTF-8
        string: |-
          {
              "url": "https://avatars.githubusercontent.com/u/41993484?s=120&v=4",
              "meta": {
                  "canonical": "https://avatars.githubusercontent.com/u/41993484?s=120&v=4",
                  "medium": "image"
              },
              "links": {
                  "image": [
                      {
                          "href": "https://avatars.githubusercontent.com/u/41993484?s=120&v=4",
                          "type": "image/png",
                          "rel": [
                              "file",
                              "ssl",
                              "image"
                          ],
                          "media": {
                              "width": 120,
                              "height": 120
                          }
                      }
                  ],
                  "file": [
                      {
                          "href": "https://avatars.githubusercontent.com/u/41993484?s=120&v=4",
                          "type": "image/png",
                          "rel": [
                              "file",
                              "ssl",
                              "image"
                          ],
                          "media": {
                              "width": 120,
                              "height": 120
                          }
                      }
                  ]
              },
              "rel": [
                  "image",
                  "inline",
                  "html5",
                  "ssl",
                  "hosted",
                  "file"
              ],
              "html": "<div style=\"max-width: 144px;\"><div style=\"left: 0; width: 100%; height: 0; position: relative; padding-bottom: 100%;\"><iframe src=\"//cdn.iframe.ly/api/iframe?url=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F41993484%3Fs%3D120%26v%3D4&key=419a7ac4ffff6a18eeda9db90c2c78c5\" style=\"top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;\" allowfullscreen></iframe></div></div>"
          }
    recorded_at: Thu, 13 Jan 2022 05:06:29 GMT
recorded_with: VCR 6.0.0
