---
http_interactions:
  - request:
      method: get
      uri: https://iframe.ly/api/iframely?api_key=343dce40eb6be7b7ccf9cb&url=https://pdftron.s3.amazonaws.com/downloads/pl/demo-annotated.pdf
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Etag:
          - W/"b10d78d74f5b55c9a8d063cfcd642f79"
      body:
        encoding: UTF-8
        string: |-
          {
              "url": "https://pdftron.s3.amazonaws.com/downloads/pl/demo-annotated.pdf",
              "meta": {
                  "provider": "Google Docs",
                  "provider_url": "https://docs.google.com",
                  "canonical": "https://pdftron.s3.amazonaws.com/downloads/pl/demo-annotated.pdf",
                  "medium": "file"
              },
              "links": {
                  "reader": [
                      {
                          "href": "https://docs.google.com/viewer?embedded=true&url=https%3A%2F%2Fpdftron.s3.amazonaws.com%2Fdownloads%2Fpl%2Fdemo-annotated.pdf",
                          "type": "text/html",
                          "rel": [
                              "reader",
                              "file",
                              "ssl",
                              "html5"
                          ],
                          "media": {
                              "aspect-ratio": 0.7727272727272727
                          },
                          "html": "<div style=\"left: 0; width: 100%; height: 0; position: relative; padding-bottom: 129.4118%;\"><iframe src=\"https://docs.google.com/viewer?embedded=true&amp;url=https%3A%2F%2Fpdftron.s3.amazonaws.com%2Fdownloads%2Fpl%2Fdemo-annotated.pdf\" style=\"border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;\" allowfullscreen></iframe></div>"
                      }
                  ],
                  "file": [
                      {
                          "href": "https://docs.google.com/viewer?embedded=true&url=https%3A%2F%2Fpdftron.s3.amazonaws.com%2Fdownloads%2Fpl%2Fdemo-annotated.pdf",
                          "type": "text/html",
                          "rel": [
                              "reader",
                              "file",
                              "ssl",
                              "html5"
                          ],
                          "media": {
         [...]
