---
http_interactions:
  - request:
      method: get
      uri: https://api.unsplash.com/photos/?order_by=latest&page=1&per_page=2&utm_campaign=api-credit&utm_medium=referral&utm_source=api_app
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Client-ID <ACCESS_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Link:
          - <https://api.unsplash.com/photos?order_by=latest&page=118272&per_page=2&utm_campaign=api-credit&utm_medium=referral&utm_source=api_app>;
            rel="last", <https://api.unsplash.com/photos?order_by=latest&page=2&per_page=2&utm_campaign=api-credit&utm_medium=referral&utm_source=api_app>;
            rel="next"
        X-Total:
          - '236543'
        X-Per-Page:
          - '2'
        Content-Type:
          - application/json
        Etag:
          - W/"789ab67c4acf7e79b4929953b9c50640"
        X-Ratelimit-Limit:
          - '50'
        X-Ratelimit-Remaining:
          - '48'
      body:
        encoding: UTF-8
        string:
          '[{"id":"s23wdQjTWpE","created_at":"2021-08-05T15:21:03-04:00","updated_at":"2021-09-22T22:27:16-04:00","promoted_at":null,"width":8041,"height":5361,"color":"#260c0c","blur_hash":"LcKb~s-pt2V?0#jExuX9kpXR$$ni","description":null,"alt_description":"orange
          plastic container on white paper","urls":{"raw":"https://images.unsplash.com/photo-1628191140023-d3b347041e2c?ixid=MnwyNjI2MDJ8MXwxfGFsbHwxfHx8fHx8Mnx8MTYzMjM4NTUxNg\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1628191140023-d3b347041e2c?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNjI2MDJ8MXwxfGFsbHwxfHx8fHx8Mnx8MTYzMjM4NTUxNg\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1628191140023-d3b347041e2c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjI2MDJ8MXwxfGFsbHwxfHx8fHx8Mnx8MTYzMjM4NTUxNg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1628191140023-d3b347041e2c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjI2MDJ8MXwxfGFsbHwxfHx8fHx8Mnx8MTYzMjM4NTUxNg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1628191140023-d3b347041e2c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjI2MDJ8MXwxfGFsbHwxfHx8fHx8Mnx8MTYzMjM4NTUxNg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/s23wdQjTWpE","html":"https://unsplash.com/photos/s23wdQjTWpE","download":"https://unsplash.com/photos/s23wdQjTWpE/download","download_location":"https://api.unsplash.com/photos/s23wdQjTWpE/download?ixid=MnwyNjI2MDJ8MXwxfGFsbHwxfHx8fHx8Mnx8MTYzMjM4NTUxNg"},"categories":[],"likes":29,"liked_by_user":false,"current_user_collections":[],"sponsorship":{"impression_urls":[],"tagline":"Made
          Right. On the Farm. ","tagline_url":"https://www.hillshirefarm.com/","sponsor":{"id":"sykIO2KbxWo","updated_at":"2021-09-23T03:52:42-04:00","username":"hillshirefarm","name":"Hillshire
          Farm","first_name":"Hillshire","last_name":"Farm","twitter_username":null,"portfolio_url":"https://www.hillshirefarm.com/","bio":"You’ll
          taste farmhouse goodness in everything we make.\r\n","location":null,"links":{"self":"https://api.unsplash.com/users/hillshirefarm","html":"https://unsplash.com/@hillshirefarm","photos":"https://api.unsplash.com/users/hillshirefarm/photos","likes":"https://api.unsplash.com/users/hillshirefarm/likes","portfolio":"https://api.unsplash.com/users/hillshirefarm/portfolio","following":"https://api.unsplash.com/users/hillshirefarm/following","followers":"https://api.unsplash.com/users/hillshirefarm/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1625772857933-c1efa9f839e6image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1625772857933-c1efa9f839e6image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1625772857933-c1efa9f839e6image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":0,"total_likes":0,"total_photos":30,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":null,"portfolio_url":"https://www.hillshirefarm.com/","twitter_username":null,"paypal_email":null}}},"topic_submissions":{},"user":{"id":"sykIO2KbxWo","updated_at":"2021-09-23T03:52:42-04:00","username":"hillshirefarm","name":"Hillshire
          Farm","first_name":"Hillshire","last_name":"Farm","twitter_username":null,"portfolio_url":"https://www.hillshirefarm.com/","bio":"You’ll
          taste farmhouse goodness in everything we make.\r\n","location":null,"links":{"self":"https://api.unsplash.com/users/hillshirefarm","html":"https://unsplash.com/@hillshirefarm","photos":"https://api.unsplash.com/users/hillshirefarm/photo[...]
