---
http_interactions:
  - request:
      method: get
      uri: https://api.unsplash.com/search/photos?page=1&per_page=1&query=cat&utm_campaign=api-credit&utm_medium=referral&utm_source=api_app
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Client-ID <ACCESS_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Warning:
          - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
        Link:
          - <https://api.unsplash.com/search/photos?page=10000&per_page=1&query=cat&utm_campaign=api-credit&utm_medium=referral&utm_source=api_app>;
            rel="last", <https://api.unsplash.com/search/photos?page=2&per_page=1&query=cat&utm_campaign=api-credit&utm_medium=referral&utm_source=api_app>;
            rel="next"
        X-Total:
          - '10000'
        X-Per-Page:
          - '1'
        Content-Type:
          - application/json
        Etag:
          - W/"39f8aba18b423476a785b50cf94cfdf2"
        X-Ratelimit-Limit:
          - '50'
        X-Ratelimit-Remaining:
          - '49'
      body:
        encoding: UTF-8
        string:
          '{"total":10000,"total_pages":10000,"results":[{"id":"rW-I87aPY5Y","created_at":"2018-05-14T18:15:19-04:00","updated_at":"2021-09-22T21:04:27-04:00","promoted_at":"2018-05-15T08:30:56-04:00","width":3456,"height":5184,"color":"#262626","blur_hash":"LKCP;VMy0~iv8_$e%2JBD*TfrqxG","description":"Instant","alt_description":"white
          butterfly resting on cat''s nose","urls":{"raw":"https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?ixid=MnwyNjI2MDJ8MHwxfHNlYXJjaHwxfHxjYXR8ZW58MHx8fHwxNjMyMzg1NTE2\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNjI2MDJ8MHwxfHNlYXJjaHwxfHxjYXR8ZW58MHx8fHwxNjMyMzg1NTE2\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjI2MDJ8MHwxfHNlYXJjaHwxfHxjYXR8ZW58MHx8fHwxNjMyMzg1NTE2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjI2MDJ8MHwxfHNlYXJjaHwxfHxjYXR8ZW58MHx8fHwxNjMyMzg1NTE2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjI2MDJ8MHwxfHNlYXJjaHwxfHxjYXR8ZW58MHx8fHwxNjMyMzg1NTE2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/rW-I87aPY5Y","html":"https://unsplash.com/photos/rW-I87aPY5Y","download":"https://unsplash.com/photos/rW-I87aPY5Y/download","download_location":"https://api.unsplash.com/photos/rW-I87aPY5Y/download?ixid=MnwyNjI2MDJ8MHwxfHNlYXJjaHwxfHxjYXR8ZW58MHx8fHwxNjMyMzg1NTE2"},"categories":[],"likes":4784,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"animals":{"status":"approved","approved_on":"2020-04-06T10:20:16-04:00"},"wallpapers":{"status":"approved","approved_on":"2020-07-01T08:54:52-04:00"}},"user":{"id":"pxLaR4p8NQI","updated_at":"2021-09-23T04:06:32-04:00","username":"_k_arinn","name":"Karina
          Vorozheeva","first_name":"Karina Vorozheeva","last_name":null,"twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/_k_arinn","html":"https://unsplash.com/@_k_arinn","photos":"https://api.unsplash.com/users/_k_arinn/photos","likes":"https://api.unsplash.com/users/_k_arinn/likes","portfolio":"https://api.unsplash.com/users/_k_arinn/portfolio","following":"https://api.unsplash.com/users/_k_arinn/following","followers":"https://api.unsplash.com/users/_k_arinn/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1526335967228-92d2cd83b9ea?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1526335967228-92d2cd83b9ea?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1526335967228-92d2cd83b9ea?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"_k_arinn","total_collections":0,"total_likes":112,"total_photos":97,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"_k_arinn","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[{"type":"landing_page","title":"cat","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"animals","pretty_slug":"Animals"},"subcategory":{"slug":"cat","pretty_slug":"Cat"}},"title":"Cat
          Images \u0026 Pictures","subtitle":"Download free cat images","description":"9
          lives isn''t enough to capture the amazing-ness of cats. You need high-quality,
          professionally photographed images to do that. Unsplash''s collection of cat
          images capture the wonder of the kitty in high-definition, and you can use
          these images however you wish for free.","meta_title":"20+ Cat Pictures \u0026
          Images [HD] | Download Free Images \u0026 Stock Photos on Unsplash","meta_description":"Choose
          from hundreds of free cat pictures. Download HD cat photos for free on Unsplash.","cover_photo":{"id":"_SMNO4cN9vs","created_at":"2018-12-30T12:17:38-05:00","updated_at":"2021-04-21T01:07:21-04:00","promoted_at":"2019-01-01T05:23:58-05:00","width":4000,"height":4000,"color":"#0c0c26","blur_hash":"L012.;oL4=WBt6j@Rlay4;ay^iof","description":"Glow
          in the Dark","alt_description":"yellow eyes","urls":{"raw":"https://images.unsplash.com/photo-1546190255-451a91afc548?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1546190255-451a91afc548?ixlib=rb-1.2.1\u0026q=85\u0026fm=jpg\u[...]
