@import '@brickdoc/design-system/components/style/themes';

/* stylelint-disable no-descending-specificity */
.tree {
  :global(.brk-tree-treenode) {
    width: 100%;
    padding: 0;
    margin-top: 2px;
  }
  :global(.brk-tree-switcher_open + .brk-tree-node-content-wrapper) {
    width: 100%;
  }
  :global(.brk-tree-node-content-wrapper) {
    width: 100%;
    box-sizing: border-box;
    margin-left: -28px;
    padding-left: 28px;
  }
  :global(.brk-tree-treenode-selected),
  :global(.brk-tree-treenode:hover) {
    // background-color: rgb(0 0 0 / 5%);
  }
  :global(.brk-tree-node-selected),
  :global(.brk-tree-node-content-wrapper:hover) {
    box-sizing: border-box;
    // background-color: transparent !important;
  }
}

.treeNodeNoPage {
  :global(.brk-tree-node-content-wrapper:hover) {
    background-color: transparent !important;
    cursor: default;
  }
  :global(.brk-tree-switcher-leaf-dot) {
    display: none;
  }
}
