@import '@brickdoc/design-system/components/style/themes';

/* stylelint-disable no-descending-specificity */
.tree {
  :global(.brk-tree-treenode) {
    width: 100%;
    padding: 0;
    margin-top: 2px;
  }
  :global(.brk-tree-switcher_open + .brk-tree-node-content-wrapper) {
    width: 100%;
    margin-left: -32px;
    padding-left: 32px;
  }
  :global(.brk-tree-node-content-wrapper) {
    width: 100%;
    box-sizing: border-box;
  }
  :global(.brk-tree-treenode-selected),
  :global(.brk-tree-treenode:hover) {
    // background-color: rgb(0 0 0 / 5%);
  }
  :global(.brk-tree-node-selected),
  :global(.brk-tree-node-content-wrapper:hover) {
    box-sizing: border-box;
    // background-color: transparent !important;
  }
}
