:global(.brk-btn).icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background: #f7f7f7;
  border-radius: 2px;
  padding: 0;
}

.emoji {
  font-size: 66px;
}

.image {
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
