@font-color: #3e3e3e;

html * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.brickdoc {
  flex: 1;
  display: flex;
  justify-content: center;

  .ProseMirror {
    width: 100%;
    outline: none;

    ::selection {
      color: unset;
      // selection background color overrides line-through style
      // we need set alpha to make line-through style visible
      background: rgba(45, 170, 219, 0.3);
    }

    &::focus-visible {
      outline: none;
    }

    /** Block **/
    > * {
      max-width: 960px;
    }

    > * + * {
      margin-top: 12px;
      margin-bottom: 0;
    }

    color: @font-color;

    .baseText {
      letter-spacing: 0;
      text-align: left;
      font-style: normal;
    }

    /** Bullet List **/
    ol,
    ul {
      padding: 0 0 0 24px;
    }

    li::marker {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: center;
    }

    li + li {
      margin-top: 12px;
    }

    li > ol,
    li > ul {
      margin-top: 8px;
      margin-bottom: 0;
      li {
        margin-top: 4px;
      }
    }

    /** Heading **/
    h1 {
      .baseText();

      font-size: 30px;
      font-weight: 400;
      line-height: 40px;
    }

    h2 {
      .baseText();

      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
    }

    /** Paragraph **/
    p {
      .baseText();

      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 0;
    }

    /** Strike **/
    s {
      text-decoration: line-through;
    }

    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }

    pre {
      background: #0d0d0d;
      color: #fff;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;

      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }

    a {
      color: #847e8e;
      line-height: 24px;
      border-bottom: 1px solid #847e8e;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0d0d0d, 0.1);
    }

    hr {
      border: none;
      border-top: 2px solid rgba(#0d0d0d, 0.1);
      margin: 2rem 0;
    }

    /* Placeholder (on every new line) */
    p.is-empty::before {
      .baseText();

      content: attr(data-placeholder);
      float: left;
      color: #a6a6a6;
      pointer-events: none;
      height: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding-left: 4px;
    }
  }
}

// Brickdoc block commands
.brickdoc-block-commands {
  position: absolute;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
