@table-header-color: #908B9C;       // palette/type/thirdary
@table-bg: rgba(0, 0, 0, 3%);       // palette/type/thirdary
@table-border-color: #BDBDBD;       // palette/type/thirdary

@table-action-layer-width: 36px;
@table-action-border-color: rgba(0, 0, 0, 5%);   // palette/divider/overlay-primary
@table-select-bg: rgba(44, 91, 255, 0.18); // palette/secondary/selected
@table-select-border-color: #C0CDFF;
@table-action-hover-color: #356CF9;              // palette/primary/default

.brickdoc .ProseMirror .node-spreadsheetBlock, .brickdoc-formula-spreadsheet {
  .spreadsheet-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    padding: 0;
  }
}

.brickdoc {
  .ProseMirror {
    .node-spreadsheetBlock, .brickdoc-formula-spreadsheet {
      position: relative;
      .spreadsheet-action {
        position: absolute;
        top: 42px;
        z-index: 100;
      }
      table.spreadsheet-row-actions {
        opacity: 0;
        transition: opacity 0.3s var(--brd-transitions-easeInOut);
        position: absolute;
        border-collapse: collapse;
        left: 0px - @table-action-layer-width;
        &.dragging {
          z-index: 150;
        }
        thead th {
          height: 33px;
        }
        td.row-action-panel {
          padding: 0;
          border: 0;
          height: 41px;
          width: @table-action-layer-width;
          position: relative;
          .row-action-panel-layer {
            color: @table-header-color;
            height: 100%;
            .row-number, .row-action {
              border-radius: 0;
              border-left: 0;
              border-right: 0;
              position: absolute;
              top: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              font-size: 12px;
              line-height: 18px;
              background: @table-bg;
              padding: 0;
              min-width: 0;
            }
            .row-number {
              border-top: 1px solid @table-action-border-color;
              border-bottom: 1px solid transparent;
              right: 14px;
              width: 22px;
            }
            .row-action {
              cursor: pointer;
              user-select: none;
              opacity: 0;
              transition: all 0.3s var(--brd-transitions-easeInOut);
              border-radius: 0 4px 4px 0;
              right: 2px;
              width: 12px;
            }
          }
        }
        tbody > tr:first-child > td.row-action-panel {
          .row-number {
            border-top: 0;
            border-radius: 4px 4px 0 0;
          }
        }
        tbody > tr:last-child > td.row-action-panel {
          .row-number {
            border-radius: 0 0 4px 4px;
          }
        }
        tbody > tr.selected, tbody > tr.dragging {
          td.row-action-panel {
            .row-action-panel-layer {
              color: @table-action-hover-color;
            }
            .row-number, .row-action {
              background: @table-select-bg;
            }
            .row-number {
              border-color: @table-bg;
            }
          }
        }
        tbody > tr:hover, tbody > tr.hover, tbody > tr.selected, tbody > tr.dragging {
          td.row-action-panel {
            .row-action {
              opacity: 1;
            }
            .row-number {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
        tbody > tr.dragging {
          td.row-action-panel {
            .row-action-panel-layer {
              cursor: grabbing;
              button, .row-action {
                cursor: grabbing;
              }
            }
          }
        }
      }
      &:hover, .hover, &.hover {
        table.spreadsheet-row-actions {
          opacity: 1;
        }
      }
      table.spreadsheet-rows {
        font-size: 14px;
        border-collapse: collapse;
        thead {
          background: @table-bg;
        }
        th {
          color: @table-header-color;
          text-align: center;
          font-weight: normal;
        }
        td, th {
          border: 1px solid @table-border-color;
          line-height: 22px;
        }
        td, th {
          position: relative;
          .column, .cell {
            width: 100%;
            overflow-x: hidden;
            position: relative;
            display: block;
            line-height: 22px;
            font-size: 14px;
            min-height: 22px;
            ::selection {
              background: transparent;
            }
          }
          input {
            display: block;
            line-height: 22px;
            font-size: 14px;
            width: 100%;
            &:focus {
              outline: 2px solid @table-action-hover-color;
            }
          }
          .ProseMirror {
            // background: none;
            padding: 8px 10px;
            border: 0;
            border-radius: 0;
            line-height: 21px;
            font-size: 14px;
            p {
              line-height: 21px;
              font-size: 14px;
            }
            &:focus {
              outline: 2px solid @table-action-hover-color;
            }
          }
        }
        th {
          min-width: 230px;
          .column, .cell {
            padding: 4px 6px;
          }
        }
        td {
          .cell {
            padding: 8px 10px;
            min-height: 38px;
            width: auto;
            height: 100%;
            word-wrap: break-word;
            white-space: normal;
            font-family: 'Fira Code';
          }
        }
        th {
          input {
            color: @table-header-color;
            text-align: center;
            padding: 0;
            &:focus {
              color: var(--brd-colors-deepPurple9);
            }
          }
          .column-action {
            opacity: 0;
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            line-height: 20px;
            width: 30px;
            right: 0;
            top: -2px;
            transition: all 0.3s var(--brd-transitions-easeInOut);
          }
          &:hover, &.selected {
            .column-action {
              opacity: 1;
            }
          }
          .resize-handler {
            height: 100%;
            width: 2px;
            position: absolute;
            right: -1px;
            top: 0;
            border: 0;
            padding: 0;
            cursor: ew-resize;
            background: transparent;
          }
        }
        th.dragging {
          cursor: grabbing;
        }
        th.dragging-over {
          border-right: 3px solid @table-select-border-color;
        }
        tr.dragging-over {
          td, th {
            border-bottom: 3px solid @table-select-border-color;
          }
        }
        tr.selected td, tr.dragging td, th.selected, th.dragging, td.selected {
          background: @table-select-bg;
          border-color: @table-select-border-color;
          user-select: none;
        }

      }
    }
    .brickdoc-spreadsheet-block {
      overflow: auto;
      white-space: nowrap;
      padding-bottom: 20px;
      position: relative;

      input {
        font-weight: normal;
        padding: 0;
        border: 0;
        background: transparent;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        &:focus {
          border: 0;
        }
      }
    }
  }
}
