.titleWrapper {
  width: 100%;
  margin-bottom: 3rem;
  padding: 0 5.5rem;
  font-size: 2.5rem;
  margin-top: 4.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .maxWidth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--brd-editor-max-width);
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;

    .item {
      flex-direction: row;
      justify-content: center;
      padding: .25rem .25rem .25rem 0;
      border-radius: 4px;
      border: none;
      font-size: 14px;
      color: #a6a6a6;

      &:active,
      &:focus,
      &:hover {
        background: #f7f7f7;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #a6a6a6;
        font-size: 16px;
      }

      .name {
        margin-left: 4px;
      }
    }

    .item + .item {
      margin-left: 4px;
    }
  }

  &:hover {
    .actions {
      pointer-events: unset;
      opacity: 100%;
    }
  }
}

.titleRow {
  display: flex;
  align-items: center;
  // flex-grow: 1;
  width: 100%;
}

.popover {
  :global(.brd-popover-arrow) {
    display: none;
  }

  :global(.brd-popover-inner-content) {
    padding: 0;
    color: unset;
  }
}
