
<p><%= t("devise.mailer.confirmation_instructions.you_can_confirm_your_account_email_through_the_link_below") %>:
<%= render 'link_button', name: t('devise.mailer.confirmation_instructions.subject') ,link: confirmation_url(@resource, confirmation_token: @token)  %>

</p>


