@import '@brickdoc/design-system/components/style/themes';

.select {
  display: flex;
  border-radius: @border-radius-base;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: .25rem 1rem;

  &:hover {
    cursor: pointer;
    background: @btn-text-hover-bg;
    transition: background @animation-duration-slow, background @animation-duration-slow cubic-bezier(0.2, 0, 0, 1) 0s;
  }

  .icon {
    color: @text-color-secondary;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: @text-color;
  min-height: 3rem;

  a {
    color: @text-color;

    &:hover {
      color: @text-color;
    }
  }

  .addBtn {
    opacity: 0;
    padding: 4px;
    height: auto;
    font-size: inherit;
    border: none;
    line-height: 1;

    &:hover {
      background-color: transparent;
    }
  }

  &:hover {
    .addBtn {
      opacity: 100%;
    }
  }
}

.overlay {
  min-width: 20rem !important;

  :global(.brk-dropdown-menu-item-group-list) {
    margin: 0;
  }

  :global(.brk-dropdown-menu-item),
  :global(.brk-dropdown-menu-submenu-title) {
    padding: 6px 12px;
  }
}
