@import '@brickdoc/design-system/components/style/themes';

.select {
  display: flex;
  padding: 0.875rem 0.5rem 0.875rem 0.75rem;
  width: 100%;
  margin-bottom: 1.375rem;
  justify-content: space-between;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  .icon {
    color: @text-color-secondary;
  }
}

.pod {
  display: flex;
}

.name {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
