.brickdoc {
  & .ProseMirror {
    & .table-block-react-renderer {
      --block-padding-left: 0;
      --table-min-width: 100%;
      --toolbar-height: 42px;

      position: relative;
      width: 100%;
      margin-left: 0;

      & .table-block-node-view-wrapper {
        padding-top: var(--toolbar-height);

        & .table-block-footer {
          padding: 24px 0;

          & .table-block-pagination {
            & li + li {
              margin-top: unset;
            }
          }
        }

        & .table-block-toolbar {
          position: absolute;
          top: 0;
          left: var(--block-padding-left);
          max-width: 100%;
          width: 100%;
          height: var(--toolbar-height);
          display: flex;
          flex-direction: row;
          align-items: center;

          --button-color: #1c1c1e;
          --button-height: 22px;
          --button-font-size: 12px;

          & button + button {
            margin-left: 8px;
          }

          & .table-title-input {
            padding: 0;
            border: none;
            border-radius: 0;
            font-weight: 600;
            &:hover {
              border: none;
              box-shadow: none;
            }
            &:focus {
              border: none;
              box-shadow: none;
            }
          }

          & .table-toolbar-actions {
            opacity: 0;
            transition: opacity 300ms ease-in-out;
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          & .table-toolbar-text-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: var(--button-height);
            font-size: 14px;
            padding: 0 8px;
          }

          & .table-toolbar-add-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: var(--button-height);
            font-size: 12px;
            padding: 3px 0 3px 8px;
            border-radius: 4px;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);

            & .brk-icon {
              margin-left: 10px;
              width: 22px;
              border-left: 1px solid rgba(0, 0, 0, 0.35);
              height: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 18px;
            }
          }
        }
      }

      &:hover {
        & .table-block-toolbar {
          & .table-toolbar-actions {
            opacity: 1;
          }
        }
      }

      & .brickdoc-table-block {
        padding-left: var(--block-padding-left);

        /* remain some spaces for cell shadow */
        padding-bottom: 20px;

        & .table-block-table {
          --font-color: #bfbcc6;
          --border-color: #efefef;
          --cell-height: 42px;
          --cell-left-padding: 4px;
          --active-color: 93, 121, 228;

          display: inline-block;
          min-width: var(--table-min-width);
          border-top: 1px solid var(--border-color);

          & .table-block-row {
            position: relative;
            height: var(--cell-height);
            border-bottom: 1px solid var(--border-color);
            transition: all 150ms ease-in;

            &.active {
              border-top: 1px solid rgba(var(--active-color), 0.3);
              background: rgba(var(--active-color), 0.1);
              border-bottom: 1px solid rgba(var(--active-color), 0.3);
            }

            & .table-block-row-actions {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              opacity: 0;
              pointer-events: none;
              transform: translate(-100%);
              transition: opacity 100ms ease-in;
            }

            &:hover {
              & .table-block-row-actions {
                opacity: 1;
                pointer-events: unset;
              }
            }

            & .table-block-row-action-button {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              box-sizing: border-box;
              width: 22px;
              height: 22px;
              border-radius: 4px;
              font-size: 18px;
              color: var(--font-color);
            }
          }

          & .table-block-th {
            height: var(--cell-height);
            min-width: 180px;
            overflow: hidden;
            padding-left: var(--cell-left-padding);
            color: var(--font-color);
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;

            &.bordered {
              border-right: 1px solid var(--border-color);
            }

            & .table-block-resizer {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              width: 10px;
              height: 100%;
              position: absolute;
              right: -5px;
              top: 0;
              z-index: 1;
              touch-action: none;

              & .table-block-resizer-inner {
                background: var(--border-color);
                width: 1px;
                height: 100%;
              }
            }
          }

          & .table-block-tr {
            align-items: center;
          }

          & .table-block-td {
            position: relative;
            height: var(--cell-height);
            border-right: 1px solid var(--border-color);

            &.active {
              border: 1px solid rgba(var(--active-color), 0.3);
              background: rgba(var(--active-color), 0.1);
            }
          }

          & .table-block-add-new-row {
            color: var(--font-color);
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            font-size: 14px;

            & span {
              font-size: 16px;
              margin-right: 6px;
            }
          }

          & .table-block-add-column-button {
            color: var(--font-color);
          }
          & .table-block-add-column-button:hover {
            background: none;
          }
          & .table-block-add-column-button:active {
            background: none;
          }
          & .table-block-add-column-button:focus {
            background: none;
          }
        }
      }
    }
  }
}

.table-block-menu {
  --item-height: var(--item-height);

  padding-top: 16px;

  & .table-block-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--item-height);
    margin-top: 0;
    color: #333;
    font-size: 14px;
    font-weight: 500;

    & .brk-menu-title-content {
      height: var(--item-height);
      line-height: var(--item-height);
    }

    &.input-item {
      margin-bottom: 8px;
    }

    &:hover {
      font-weight: 500;
    }
  }

  & .table-block-menu-submenu-title {
    height: var(--item-height);
    line-height: 1;

    & .brk-menu-submenu-title {
      height: var(--item-height);
    }
  }

  --input-active-color: #2dc5e3;

  & .table-block-menu-input {
    background: #f7f7f7;
    height: var(--item-height);
    border-radius: 4px;
    border-color: transparent;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::selection {
      background: var(--input-active-color);
    }
  }

  & .brk-input:focus {
    border-color: var(--input-active-color);
    box-shadow: none;
  }

  & .brk-input-focused {
    border-color: var(--input-active-color);
    box-shadow: none;
  }
}

.table-block-menu-popover,
.table-block-popover {
  & .brk-popover-arrow {
    display: none;
  }

  & .brk-popover-inner {
    box-shadow: none;
  }

  & .brk-popover-inner-content {
    padding: 0;
    color: unset;
  }
}

.table-block-menu-popover {
  box-shadow: 0 4px 8px #2c5bff0f, 0 8px 16px #0000001f;
}

.table-block-cell-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
