/* stylelint-disable no-descending-specificity */
@import '@brickdoc/design-system/components/style/themes';
.acrylicBg {
  background: url('~/common/assets/ceramic.jpg') no-repeat fixed center center;
  background-size: cover, cover;
  background-clip: border-box;
  height: 100vh;
  overflow: hidden;
}

.pluginBar {
  width: 48px;
}

.main {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;

  --brk-editor-max-width: 960px;
}

.sider {
  height: 100vh;

  footer {
    margin-top: auto;
    bottom: 1rem;
    left: 0;
    padding: 0 0.5rem;
    position: absolute;
    width: 100%;
  }

  nav {
    max-height: calc(100vh - 96px - 1rem);
    overflow: scroll;
    h2 {
      color: @text-color-secondary;
      font-size: @font-size-xs;
      font-weight: 600;
      padding: 8px 16px;
      line-height: @line-height-sm;
      margin-top: 30px;
    }
  }
}

.sider :global(.brk-layout-sider-children > .brk-btn-text),
.sider nav > :global(.brk-btn-text),
.sider footer :global(.brk-btn-text) {
  border: 0;
  // padding: 0.375rem 1rem;
  padding: 6px 12px;
  height: auto;
  width: 100%;
  text-align: left;
  color: @text-color-secondary;
}
